@font-face{
  font-family:digital-clock-font;
  src: url('font/digital-7.ttf');
 }

body{
  background: #41474f;
  font-family: 'Montserrat', sans-serif;
}
#main{
  width: 320px;
  height: 550px;
  background-color: rgb(41, 45, 50);
  display:flex;
  flex-direction: column;
  margin:auto;
  margin-top: 20px;
  padding:15px;
  gap:15px;
  border-radius: 20px;
  background: linear-gradient(145deg, #25292d, #2c3036);
  box-shadow:  1px 1px 2px #23262b,
                -1px -1px 1px #313439;
}
#screen{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  box-shadow: inset 1px 1px 3px #101214,
        inset -1px -1px 3px #424850;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 8px;
  font-family:digital-clock-font;
}

#display-current{
  align-self: flex-end;
  height:65%;
  font-size: 45px;
  color: orange;
  padding: 35px 10px 10px;
}

#display-past{
  align-self: flex-end;
  height:35%;
  padding: 10px;
  font-size: 35px;
  color: orange;

}
#buttons-div{
  width: 300px;
  height: 70%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
  margin:auto;
  margin-bottom: 10px;
  justify-items: center;
}
.button{
  color:aqua;
  height: 55px;
  width: 55px;
  border-radius: 20px;
  background: linear-gradient(145deg, #25292d, #2c3036);
  box-shadow:  5px 5px 10px #23262b,
                -5px -5px 10px #313439;
}

.button:active:hover{
box-shadow: inset 2px 2px 6px #101214,
        inset -2px -2px 6px #424850;
}
.number{
  
}
#equal{
  grid-column: span 2;
  width: 100%;
  background: #eba225;
  color: white;
}
#equal:active{
  border-radius: 20px;
  background: #eba225;
  box-shadow: inset 5px 5px 5px #ba801d,
  inset -5px -5px 5px #ffc42d;
}
button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.shake{
  animation: 1s shake;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

